/* Root style  */
.container-fluid{
    padding: 0 20px;
}
p{
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}
body{
    background-color: #FCFFF9;
}
.container-fluid-margin{
    margin: 0 20px;
}


/* Navigation  */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger{
    width: fit-content;
    transform: rotate(180deg);
}
.navigation-section{
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 14px 20px;
    background-color: #FCFFF9;
}
.navigation-section label{
    display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;
}
.navigation-section label span{
    background: #104386;
    border-radius:10px;
    height:4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation-section span:nth-of-type(1){
    width:75%;
    background-color: #104386;
}
.navigation-section span:nth-of-type(2){
    width:50%;
    background-color: #104386;
}
.navigation-section span:nth-of-type(3){
    width:75%;
}
.navigation-section input[type="checkbox"]{
    display:none;
}
.navigation-section input[type="checkbox"]:checked ~ span:nth-of-type(1){
    width: 50%;
    transform-origin:bottom;
    transform: rotatez(45deg) translate(9px,7px);
}
.navigation-section input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:bottom;
    width:0%;
    transform: translate(30px,-11px) rotatez(45deg);
    opacity: 0;
}
.navigation-section input[type="checkbox"]:checked ~ span:nth-of-type(3){
    width: 50%;
    transform-origin:top;
    transform: rotatez(-45deg) translate(9px,-7px);
    
}
.nav-list{
    position: absolute;
    top: 84px;
    z-index: 999;
    right: -79%;
    list-style-type: none;
    padding: 20px;
    background-color: #FCFFF9;
    height: 100vh;
    width: 50%;
}
.nav-list li{
    color: #104386;
    font-size: 20px;
    padding: 10px;
}
.nav-list.nav-close{
    animation: nav-out 0.7s;
}
.nav-list.nav-open{
    animation: nav-in 0.7s;
}
.nav-list.nav-open{
    right: -2px;
}

@keyframes nav-in{
    0%{
        right: -79%;
    }
    100%{
        right: -2px;
    }
}
   
@keyframes nav-out{
    0%{
        right: -2px;
    }
    100%{
        right: -79%;
    }
}

@media screen and (min-width:993px) {
    .navigation-section{
        display: none;
    }
}
@media screen and (max-width:992px) {
    .nav-menu-logo{
        width: 21%;   
    }
}
@media screen and (max-width:575px) {
    .nav-menu-logo{
        width: 32%;
    }
    .navigation-section span:nth-of-type(3) {
        width: 65%;
    }
    .navigation-section span:nth-of-type(2) {
        width: 46%;
    }
    .navigation-section span:nth-of-type(1) {
        width: 65%;
    }
    .navigation-section label span{
        height: 3px;
    }
    .navigation-section input[type="checkbox"]:checked ~ span:nth-of-type(1){
        transform: rotatez(45deg) translate(8px, 6px);
    }
    .nav-list{
        top: 63px;
        width: 75%;
    }
}
@media screen and (max-width:375px) {
    .nav-list li{
        font-size: 16px;
    }
    .navigation-section{
        padding: 14px 20px !important;
    }
    .navigation-section span:nth-of-type(3) {
        width: 60%;
    }
    .navigation-section span:nth-of-type(2) {
        width: 40%;
    }
    .navigation-section span:nth-of-type(1) {
        width: 60%;
    }
    .navigation-section label span{
        height: 2px;
        margin: 3px 0;
    }
    .navigation-section input[type="checkbox"]:checked ~ span:nth-of-type(1){
        transform: rotatez(45deg) translate(4px, 2px);
    }
}
   

/* Banner Section  */
.bnr-section{
    position: relative;
    background: url(../images/bnr_bg_image.svg) no-repeat center;
    width: 100%;
    height: 52rem;
    background-size: cover;
    background-position: 0px 0px;
    border-radius: 0px 100px 100px 100px;
    overflow: hidden;
    margin-top: 20px;
}
.brand-logo{
    position: absolute;
    top: 13px;
    left: 0;
    width: 14%;
}
.bnr-title-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.bnr-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 119px;
    color: #F7FFEF;
    text-transform: uppercase;
    z-index: 7;
    width: max-content;
}
.scr-l-to-r{
    transform: translateX(40%);
    animation: scroll-to-left 11s infinite;
}
.scr-r-to-l{
    transform: translateX(-48%);
    animation: scroll-to-right 11s infinite;
}
@keyframes scroll-to-left{
    0%{
        transform: translateX(40%);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(40%);
    }
}
@keyframes scroll-to-right{
    0%{
        transform: translateX(-48%);
    }
    50%{
        transform: translateX(48%);
    }
    100%{
        transform: translateX(-48%);
    }
}
.lets-talk{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 275px;
    height: 275px;
    background: linear-gradient(162deg, #052842, #2A5EA5, #7BB885);
    background-size: 300%;
    border-radius: 50%;
    z-index: 8;
    overflow: hidden;
    animation: gradient-animation 4s infinite;
}
@keyframes gradient-animation {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.lets-talk p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    font-size: 57px;
    font-weight: 500;
    color: #F7FFEF;
    text-transform: uppercase;
}
.bnr-content-txt{
    color: #F7FFEF;
    font-weight: 400;
    position: absolute;
    bottom: 9%;
    right: 6%;
    font-size: 21px;
    max-width: 23rem;
    line-height: 34px;
    z-index: 9;
}
.bnr-bg-spring{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.bnr-bg-spring.sp-left{
    left: 32%;
    top: 41%;
    width: 30%;
}
.bnr-bg-spring.sp-right{
    top: 25%;
    left: 68%;
    width: 28%;
}
.bnr-con-logo-div{
    position: absolute;
    bottom: 21px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FCFFF9;
    padding: 14px 41px;
    border-radius: 50px;
    width: fit-content;
}
.bnr-con-logo-div.width-increase{
    animation: width-increase 0.2s;
    width: 231px;
}
.bnr-con-logo-div.width-reduce{
    animation: width-reduce 0.2s;
    width: 126px;
}

@keyframes width-increase {
    0%{
        width: 126px;
    }
    100%{
        width: 231px;
    }
    
}
@keyframes width-reduce {
    0%{
        width: 231px;
    }
    100%{
        width: 126px;
    }
    
}
.bnr-con-hamburger-div{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.width-increase .bnr-con-hamburger-div{
    display: flex;
}
.hamburger-icon{
    background-color: #84C08A;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 0 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.hamburger-icon{
    position: relative;
}
.hamburger-icon span{
    display: block;
    width: 42px;
    height: 4px;
    background-color: #FFFFFF;
    transition: 0.2s ease-in-out;
}
.hamburger-icon span:last-child{
    width: 30px;
}
.contact-btn{
    background-color: #187EB4;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 60px;
    border: none;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    min-width: max-content;
}
.hamburger-icon.active span{
    position: absolute;
}
.hamburger-icon.active span:first-child{
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
}
.hamburger-icon.active span:last-child{
    width: 45px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in-out;
}
.bnr-content-txt.mb{
    display: none;
}

@media screen and (max-width:1080px) {
    .bnr-section{
        border-radius: 0 70px 70px 70px;
        height: 42rem;
    }
    .brand-logo {
        position: absolute;
        top: 18px;
        left: 7px;
        width: 15%;
    }
    .bnr-title{
        font-size: 84px;
    }
    .lets-talk{
        width: 200px;
        height: 200px;
    }
    .lets-talk p{
        font-size: 36px;
    }
    .bnr-content-txt {
        bottom: 14%;
        font-size: 15px;
        max-width: 20rem;
        line-height: 25px;
    }
    .bnr-bg-spring.sp-right {
        top: 30%;
        width: 35%;
    }
    .bnr-bg-spring.sp-left {
        left: 28%;
        top: 44%;
        width: 38%;
    }
}
@media screen and (max-width:992px) {
    .brand-logo{
        display: none;
    }
    .bnr-section{
        border-radius: 70px;
        background: url(../images/bnr_bg__mb_image.svg) no-repeat center;
        height: 37rem;
        margin-top: 110px;
    }
    .bnr-contact-btn-div{
        display: none;
    }
    .bnr-content-txt {
        bottom: 0;
        padding: 38px;
        font-size: 17px;
        max-width: 100%;
        line-height: 29px;
    }
    .bnr-content-txt.mb {
        display: block;
        top: 0;
        left: 0;
        z-index: 6;
    }
}
@media screen and (max-width:767px) {
    .bnr-bg-spring.sp-right {
        top: 27%;
        width: 48%;
        left: 78%;
    }
    .bnr-bg-spring.sp-left {
        left: 19%;
        top: 43%;
        width: 53%;
    }
    .bnr-content-txt{
        font-size: 19px;
    }
    .scr-l-to-r{
        animation: scroll-to-left 15s infinite;
    }
    .scr-r-to-l{
        animation: scroll-to-right 15s infinite;
    }
}
@media screen and (max-width:575px) {
    .bnr-title{
        font-size: 70px;
    }
    .lets-talk p {
        font-size: 33px;
        line-height: 39px;
    }
    .lets-talk {
        width: 150px;
        height: 150px;
    }
    .bnr-section{
        height: 35rem;
        border-radius: 43px;
        margin-top: 88px;
    }
    .bnr-content-txt {
        font-size: 16px;
    }
    .bnr-content-txt.mb{
        max-width: 17rem;
    }
    .bnr-bg-spring.sp-left {
        left: 19%;
        top: 39%;
        width: 65%;
    }
    .bnr-bg-spring.sp-right {
        top: 22%;
        width: 59%;
        left: 79%;
    }
}
@media screen and (max-width:425px){
    .bnr-title-div{
        height: 84%;
    }
    .lets-talk{
        top: 45%;
    }
    .bnr-section {
        height: 30rem;
        margin-top: 78px;
    }
    .bnr-bg-spring.sp-right {
        top: 23%;
        width: 64%;
        left: 81%;
    }
    .bnr-bg-spring.sp-left {
        left: 17%;
        top: 34%;
        width: 70%;
    }
}
@media screen and (max-width:375px){
    .bnr-content-txt{
        padding: 10px 10px 10px 23px;
        bottom: 22px;
    }
    .bnr-section{
        border-radius: 39px;
    }
    .bnr-content-txt.mb{
        top: 17px;
    }
    .container-fluid {
        padding: 0 10px;
    }
}


/* what makes as unique section */
.unique-section{
    margin-top: 6.5rem;
    padding-bottom: 10rem;
    border-radius: 0 0 100px 100px;
    background-color: #FCFFF9;
    position: relative;
    z-index: 9;
}
.unique-section-title{
    color: #2B2A29;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom:1.5rem ;
    border-bottom: 1px solid #2B2A29;
}
.unique-section-sub-title{
    font-size: 85px;
    line-height: 95px;
    color: #104386;
    max-width: 61rem;
    text-transform: capitalize;
    padding: 3rem 0;
}
.unique-section-sub-title span{
    background: -webkit-linear-gradient(1deg,#104386 -17%, white 174%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.unique-section-cnt-div p{
    font-size: 18px;
    line-height: 27px;
}
.unique-sec-learn-btn{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.unique-sec-learn-btn p{
    background-image: linear-gradient(175deg, #052842 -95%, #2A5EA5 70%, #7BB885 111%);
    color: #F7FFEF;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 50px;
    padding: 20px 30px;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 8;
}
.unique-sec-learn-btn div{
    background-image: linear-gradient(174deg, #052842 -95%, #2A5EA5 53%, #7BB885 110%);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    /* position: relative; */
    z-index: 7;
    /* animation: gradient-animation-out 0.5s; */
    /* right: 36%; */
}

@keyframes gradient-animation-in{
    0%{
        right: 36%;
    }
    100%{
        right: 0%;
    }
}
@keyframes gradient-animation-out{
    0%{
        right: 0%;
    }
    100%{
        right: 36%;
    }
}
.unique-sec-learn-btn.animate div{
    /* animation: gradient-animation-in 0.5s; */
}
.unique-sec-learn-btn.animate div{
    right: 13px;
    position: relative;
}
.learn-btn-dark-style{
    position: relative;
    z-index: 5;
    right: 6px;
    /* display: none; */
}
.unique-btn-section{
    display: flex;
    align-items: end;
    justify-content: flex-start;
}


@media screen and (max-width:992px) {
    .unique-cnt-sec-1{
        order: 3;    
    }
    .unique-cnt-sec-2{
        order: 1;
    }
    .unique-cnt-sec-3{
        order: 2;
    }
    .unique-section-sub-title {
        font-size: 70px;
        line-height: 80px;
    }
}
@media screen and (max-width:767px) {
    .unique-section-cnt-div p{
        padding-bottom: 30px;
    }
    .unique-section{
        border-radius: 0 0 70px 70px;
        margin-top: 5rem;
        padding-bottom: 6rem;
    }
    .unique-sec-learn-btn p{
        padding: 20px 30px;
    }
    .unique-section-title{
        padding-bottom: 1rem;
    }
    .unique-section-sub-title{
        padding: 2rem 0;
    }
    .unique-sec-learn-btn.animate div{
    	/* right:1px; */
    }
}
@media screen and (max-width:575px) {
    .unique-section-title{
        font-size: 16px;
    }
    .unique-section-sub-title {
        font-size: 50px;
        line-height: 55px;
    }
    .unique-section-cnt-div p {
        font-size: 16px;
        line-height: 26px;
    }
    .unique-section{
        border-radius: 0 0 58px 58px;
    }
    .unique-sec-learn-btn p {
        padding: 15px 22px;
    }
    .unique-sec-learn-btn div {     
        width: 53px !important;
        height: 53px !important;
        padding: 0;
    }
    .learn-btn-dark-style {
        /* right: 53px; */
    }
    .unique-learn-more-arrow{
        width: 17px;
    }
}
@media screen and (max-width:375px) {
    .unique-section-cnt-div p {
        font-size: 14px;
        line-height: 23px;
    }
    .unique-section-sub-title {
        font-size: 46px;
        line-height: 52px;
    }
    .unique-section {
        border-radius: 0 0 40px 40px;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }
    
}


/* who we are section  */
.who-we-are-section-learn-btn{
    display: none !important;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.who-we-are-section-learn-btn p{
    background-image: none;
    background-color: #FCFFF9;
    color: #002132;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 50px;
    padding: 20px 30px;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 8;
}
.who-we-are-section-learn-btn div{
    background-image: none;
    background-color: #FCFFF9;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 7;
    animation: gradient-animation-out 0.5s;
    right: 36%;
}
.who-we-are-section-learn-btn.animate div{
    animation: gradient-animation-in 0.5s;
}
.who-we-are-section-learn-btn.animate div{
    right: 0%;
}
.who-we-are-section-learn-btn-dark-style{
    position: absolute;
    z-index: 5;
    right: 68px;
    display: none;
}
.unique-btn-section{
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.who-we-are-section{
    background: url(../images/who_we_are_bg.svg) no-repeat center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 6rem;
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    position: relative;
    top: -7rem;
    z-index: 8;
}
.who-we-are-cnt-txt{
    font-size: 18px;
    color: #FCFFF9D9;
    line-height: 27px;
    font-weight: 400;
}
.who-we-are-cnt-title{
    font-size: 80px;
    color: #FCFFF9D9;
    line-height: 89px;
    font-weight: 600;
    text-transform: capitalize;
}
.who-we-are-cnt-title span:nth-child(2){
    background: -webkit-linear-gradient(1deg,#FCFFF9D9 79%, #03232A 177%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.who-we-are-cnt-title span:nth-child(4){
    background: -webkit-linear-gradient(1deg,#FCFFF9D9 9%, #03232A 177%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.who-we-sec-col2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.who-we-sec-col4{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
.who-we-slider-section .slick-slide img{
    width: 93%;
}
.who-we-slider-section{
    padding-top: 4rem;
}
.who-we-are-slider{
    position: relative;
    padding-bottom: 3rem;
}
.who-we-are-slider button{
    background-color: transparent;
    border: none;
}
.who-we-are-slider button.slick-prev{
    display: none !important;
}
.who-we-are-slider button.slick-next{
    width: 30px;
    height: 30px;
    background: url(../images/who_we_slider_right_arrow.png) no-repeat center;
    position: absolute;
    right: 29px;
    bottom: -10px;
}
.looking-slider-prev, .looking-slider-next{
    position: absolute;
    top: 0;
    visibility: hidden;
}
.looking-at-title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: -5.3rem;
    text-transform: none;
}
.looking-at-title span{
    background:-webkit-linear-gradient(1deg,#104386 22%, white 174%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.looking-at-us-slider {
    position: relative;
    width: 82rem;
    margin: 0 auto;
    height: 43rem;
}

.looking-at-slide {
    position: absolute;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background: url(../images/loking-at-slider-bg.svg) no-repeat;
    background-size: cover;
    padding: 8rem 6rem;
    border-radius: 75px;
    overflow: hidden;
    filter: blur(5px);
    width: 772px;
    max-height: 460px;
}
.looking-at-slide.active-slide{
    filter: blur(0px);
}
.looking-slide-left-div{
    position: relative;
}
.looking-slide-right-title{
    font-size: 86px;
    text-transform: uppercase;
}
.looking-slide-right-cnt{
    font-size: 43px;
    text-transform: capitalize;
    min-width: auto;
}
.looking-slid-bg{
    font-size: 258px;
    line-height: 204px;
    opacity: 0.1;
}
.looking-slid-count{
    font-size: 183px;
    line-height: 204px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.looking-at-slider-section button{
    position: relative;
    bottom: -27rem;
    z-index:-1px;
}


@media screen and (max-width:1366px) {
    .who-we-are-section-learn-btn p{
        font-size: 21px;
    }
    .looking-at-slide{
        padding: 5rem 2rem;
        border-radius: 50px;
        width: 513px;
        max-height: 327px;
    }
    .looking-slide-right-title {
        font-size: 60px;
    }
    .looking-slide-right-cnt {
        font-size: 35px;
    }
    .looking-slid-bg {
        font-size: 181px;
        line-height: 167px;
    }
    .looking-slid-count {
        font-size: 131px;
    }
    .looking-at-us-slider{
        width: 54rem;
        height: 33rem;
    }
}
@media screen and (max-width:1280px) {
    .who-we-are-cnt-txt{
        font-size: 16px;
    }
    .who-we-are-cnt-title {
        font-size: 66px;     
        line-height: 72px;
    }
    .who-we-are-section-learn-btn p {
        font-size: 18px;
    }
}
@media screen and (max-width:1199px) {
    .who-we-sec-col2{
        justify-content: flex-start;
    }
    .who-we-sec-col4{
        justify-content: flex-start;
    }
    .who-we-sec-col1, .who-we-sec-col2, .who-we-sec-col3{
        padding-bottom: 1rem;
    }
}
@media screen and (max-width:992px) {
    .looking-at-title{
        margin-bottom: -4.8rem;
        padding-top: 0;
    }
}
@media screen and (max-width:900px) {
    .looking-slide-right-title {
        font-size: 46px;
    }
    .looking-slide-right-cnt {
        font-size: 24px;
    }
    .looking-at-slide {
        padding: 3rem 2rem;
        border-radius: 38px;
        width: 416px;
        max-height: 263px;
    }
    .looking-at-us-slider {
        width: 44rem;
        height: 26rem;
    }
}
@media screen and (max-width:768px) {
    .who-we-are-section{
        padding-top: 12rem;
        border-radius: 0 0 70px 70px;
        padding-bottom: 4rem;
    }
    .looking-at-title {
        margin-bottom: -4rem;
    }
}
@media screen and (max-width:740px) {
    .looking-slid-bg {
        font-size: 128px;
        line-height: 130px;
    }
    .looking-slid-count {
        font-size: 83px;
    }
    .looking-slide-right-title {
        font-size: 34px;
    }
    .looking-slide-right-cnt {
        font-size: 16px;
    }
    .looking-at-slide {
        padding: 2rem 2rem;
        border-radius: 38px;
        width: 304px;
        max-height: 194px;
    }
    .looking-at-us-slider {
        width: 33rem;
        height: 18rem;
    }
}
@media screen and (min-width:576px) {
    .looking-at-mb{
        display: none;
    }
}
@media screen and (max-width:575px) {
    .who-we-slider-section .slick-slide img{
        width: 100%;
    }
    .who-we-slider-img-div{
        padding: 0 10px;
    }
    .who-we-are-section{
        background: url(../images/who_we_are_bg_mb.svg) no-repeat center;
        background-size: cover;
    }
    .who-we-are-section-learn-btn p{
        padding: 15px 22px;
    }
    .who-we-are-section-learn-btn div{
        width: 53px !important;
        height: 53px !important;
    }
    .who-we-are-section-learn-btn.animate div{
        right: 1%;
        padding: 0;
    }
    .who-we-are-section-learn-btn-dark-style{
        right: 53px;
    }
    .who-we-are-section-learn-btn.animate div{
        right: 1%;
    }
    .looking-at-title {
        margin-bottom: -3.1rem;
        margin-top: -3rem;
    }
    .looking-at-dt{
        display: none;
    }
    @keyframes gradient-animation-in{
        0%{
            right: 36%;
        }
        100%{
            right: 1%;
        }
    }
}
@media screen and (max-width:560px) {
    .looking-slid-count {
        font-size: 58px;
        line-height: normal;
    }
    .looking-slid-bg {
        font-size: 105px;
        line-height: 100px;
    }
    .looking-slide-right-title {
        font-size: 28px;
    }
    .looking-slide-right-cnt {
        font-size: 12px;
    }
    .looking-at-slide{
        padding: 1rem 1rem;
        border-radius: 29px;
        width: 219px;
        max-height: 132px;
        filter: blur(2px);
    }
    .looking-at-us-slider {
        margin-top: 0;
        width: 24rem;
        height: 13rem;
    }
    .looking-at-slider-section.container-fluid{
        padding: 0px 10px;
    }
}
@media screen and (max-width:425px) {
    .looking-at-title {
        font-size: 41px;
        line-height: 45px;
    }
}
@media screen and (max-width:400px) {
    .looking-slid-bg {
        font-size: 71px;
        line-height: 81px;
    }
    .looking-slid-count {
        font-size: 45px;
    }
    .looking-slide-right-title {
        font-size: 20px;
    }
    .looking-slide-right-cnt {
        font-size: 10px;
    }
    .looking-at-slide {
        border-radius: 20px;
        width: 175px;
    }
    .looking-at-us-slider{
        width: 19rem;
        height: 13rem;
        margin-bottom: -3rem;
    }
}
@media screen and (max-width:355px) {
    .looking-at-title {
        font-size: 32px;
        line-height: 33px;
        margin-bottom: -2.7rem;
    }
}
@media screen and (max-width:375px) {
    .who-we-are-section{
        border-radius: 0 0 40px 40px;
    }
}
@media screen and (max-width:320px) {
    .looking-slid-bg {
        font-size: 50px;
        line-height: 46px;
    }
    .looking-slid-count {
        font-size: 32px;
    }
    .looking-slide-right-title {
        font-size: 17px;
    }
    .looking-slide-right-cnt {
        font-size: 9px;
    }
    .looking-at-us-slider {
        width: 15rem;
    }
    .looking-at-slide {
        border-radius: 11px;
        width: 137px;
    }
}

/* Services Section */
.services-main-title{
    background: url(../images/dot_grid.svg) no-repeat;
    background-size: cover;
}
.services-main-title p{
    font-size: 150px;
    font-weight: 400;
    line-height: normal;
    color: #2B2A29;
}
.services-cnt-section{
    margin-top: 2rem;
}
.serv-sub-title{
    font-size: 80px;
    line-height: 92px;
    color: #144486;
    text-transform: capitalize;
    max-width: 84rem;
    padding-bottom: 4rem;
}
.serv-sub-title span{
    background: -webkit-linear-gradient(1deg,#104386 -17%, white 174%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.serv-card-main-div{
    padding: 30px;
    min-width: 325px;
    max-width: 325px;
    height: 295px;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    animation: opacity-change-animation 1s;
    cursor: pointer;
}
.serv-card-main-div:nth-child(odd){
    background: url(../images/serv_card_bg_1.svg) no-repeat;
}
.serv-card-main-div:nth-child(even){
    background: url(../images/serv_card_bg_2.svg) no-repeat;
}
.serv-card-count-div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 96px;
    height: 96px;
    background: url(../images/serv_count_bg_1.svg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serv-card-count{
    font-size: 22px;
    line-height: 33px;
    color: #FCFFF9;
}
.serv-card-title{
    font-size: 22px;
    line-height: 33px;
    color: #FCFFF9;
    text-transform: capitalize;
}
.serv-card-sub-title{
    font-size: 32px;
    line-height: 46px;
    color: #FCFFF9;
    text-transform: uppercase;
    padding-top: 10px;
}
.serv-card-count-div p{
    font-family: "Libre Franklin", sans-serif;
    font-size: 25px;
    line-height: normal;
}
.serv-af-head-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}
.serv-af-head-section .serv-card-title{
    text-transform: uppercase;
    max-width: 321px;
}
.serv-af-cnt{
    font-size: 22px;
    line-height: 33px;
    color: #F7FFEFF2;
}
.serv-after-click{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.serv-card-active .serv-after-click{
    display: flex;
}
.serv-card-active .serv-bf-click{
    display: none;
}
.serv-after-click .serv-card-icon{
    display: block;
}
@keyframes width-change-animation{
    0%{
        width: 325px;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}
@keyframes opacity-change-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.serv-bf-click{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%
}
.services-card-section{
    display: flex;
    gap: 2rem;
    overflow: hidden;
    overflow-x: scroll;
}
.serv-mb-reverse:nth-child(odd) {
    background: url(../images/serv_rev_mb1.svg) no-repeat;
}

.serv-mb-reverse:nth-child(even) {
    background: url(../images/serv_rev_mb2.svg) no-repeat;
}
.serv-mb-reverse:nth-child(2) {
    background: url(../images/serv_rev_mb3.png) no-repeat;
}
.serv-mb-reverse .serv-bf-click{
    flex-direction: column-reverse;
}
.serv-mb-reverse .serv-card-count-div{
    bottom: auto;
    top: 0;
}
.serv-card-main-div.serv-card-active{
    width: 100%;
    min-width: 677px;
    background: url(../images/serv_count_bg_1_after.svg) no-repeat;
    animation: width-change-animation 1s;
}
.services-card-section::-webkit-scrollbar {
    display: none;
}
.services-card-section {
    scrollbar-width: none;
}
.services-card-section {
    -ms-overflow-style: none;
}
.services-section{
    padding-bottom: 6rem;
}
@media screen and (max-width:767px) {
    .services-main-title p {
        font-size: 100px;
    }
    .serv-sub-title {
        font-size: 70px;
        line-height: 88px;
    }
    .services-card-section {
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
    }
    .serv-card-main-div.serv-card-active{
        min-width: unset;
        height: auto;
        background: url(../images/serv_count_bg_1_after.png) no-repeat;
        background-size: cover !important;
    }
    .serv-af-head-section {        
        flex-direction: column;
        align-items: flex-start;
    }
    .serv-af-head-section .serv-card-title{
        margin-bottom: 1rem;
    }
    .serv-af-cnt {
        font-size: 16px;
        line-height: 24px;
    }
    
}
@media screen and (max-width:575px) {
    .serv-sub-title{
        font-size: 50px;
        line-height: 63px;
        padding-bottom: 3rem;
    }
    .services-main-title p {
        font-size: 80px;
    }
}
@media screen and (max-width:375px) {
    .serv-sub-title {
        font-size: 46px;
        line-height: 55px;
    }
    .serv-card-main-div{
        min-width: auto;
    }
    .serv-card-title {
        font-size: 19px;
        line-height: 30px;
    }
    .serv-card-sub-title {
        font-size: 39px;
        line-height: 49px;
    }
    .serv-card-main-div {
        width: 299px;
        min-width: auto;
        max-width: 299px;
        height: 263px;
        background-size: contain !important;
    }
    .services-main-title p {
        font-size: 58px;
    }
    .serv-card-main-div{
        padding: 20px;
    }
    .container-fluid-margin{
        margin: 0 10px;
    }
}


/* throughout flow section  */
.throughout-flow-section .unique-section-title{
    margin: 0 20px;
}
.through-blog-slider-div{
    padding-top: 0;
    padding-bottom: 3rem;
    overflow: hidden;
    border-radius: 0 0 100px 100px;
    position: relative;
    background-color: #FCFFF9;
    z-index: 9;
}
.blog-head-sec{
    font-family: 'Libre Franklin', sans-serif;
    text-transform: capitalize;
}
.blog-body-sec{
    font-size: 30px;
    color: #144486E5;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    max-width: 29rem;
}
.blog-btn-sec{
    font-family: 'Poppins', sans-serif;
    color: #2B2A29BF;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #00213280;
    transition: 0.2s ease-in;
}
.blog-btn-sec:hover{
    transition: 0.2s ease-in;
    background-color: #144486E5;
    color: white;
}
.through-blog-col-sec{
    display: flex !important;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    z-index: 8;
    padding: 6rem 0;
}
.through-blog-col-sec1 img{
    max-width: fit-content;
}
.through-blog-col-sec1, .through-blog-col-sec2, .through-blog-col-sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.through-blog-col-sec2{
    align-items: center;
    gap: 3rem;
    background-color: #fcfff9;
}
.blog-head-sec span{
    padding: 0 20px;
}
.through-blog-col-sec3{
    align-items: flex-end;
}
.through-blog-col-sec3{
    transform: rotate(8deg);
} 
.through-blog-col-sec3 img{
    position: relative;
    right: -67px;
    z-index: 9;
}
.through-blog-col-sec1 img{
    position: relative;
    left: -67px;
    z-index: 9;
}
.through-blog-col-sec1{
    transform: rotate(-8deg);
}
.through-blog-slider-div .slick-prev{
    display: none !important;
}
.through-blog-slider-div .slick-next{
    width: 42px;
    height: 42px;
    background: url(../images/who_we_slider_right_arrow.png) no-repeat center;
    position: sticky;
    left: 95%;
    bottom: 8rem;
    border: none; 
}

@media screen and (max-width:991px) {
    .through-blog-col-sec1 img{
        max-width: 100%;
    }
    .through-blog-col-sec2{
        gap: 1rem;
    }
    .blog-body-sec {
        font-size: 22px;
        line-height: 32px;
    }
    .blog-head-sec span {
        padding: 0 8px;
    }
}
@media screen and (max-width:767px) {
    .through-blog-slider-div{
        border-radius: 0 0 70px 70px;
        padding-bottom: 0;
    }
    .blog-body-sec{
        padding: 0 7px;
    }
    .through-blog-col-sec{
        flex-direction: column;
        gap: 3rem;
    }
    .through-blog-col-sec3 img{
        display: none;
    }
    .through-blog-col-sec1 img{
        left: unset;
        max-width: 22rem;
        margin: 0 auto;
    }
    .through-blog-col-sec{
        padding: 2rem 0;
    }
}
@media screen and (max-width:575px) {
    .through-blog-slider-div{
        border-radius: 0 0 58px 58px;
    }
}
@media screen and (max-width:425px) {
    .through-blog-col-sec1 img{
        max-width: 18rem;
    }
}
@media screen and (max-width:375px) {
    .through-blog-slider-div{
        border-radius: 0 0 40px 40px;
    }
    .through-blog-col-sec1 img{
        max-width: 14rem;
    }
    .blog-body-sec {
        font-size: 18px;
        line-height: 28px;
    }
}


/* Footer Section */
.footer-section{
    background: url(../images/who_we_are_bg.svg) no-repeat center;
    background-size: cover;
    padding-top: 16rem;
    position: relative;
    margin-top: -7rem;
    z-index: 8;
}
.footer-sec-contact-section{
    background: url(../images/footer_dot_grid.svg) no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.footer-sec-cnt-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-sec-cnt-div .footer-sec-cnt-txt{
    color: #FCFFF9;
    font-size: 45px;
    line-height: 55px;
    max-width: 50rem;
}
.footer-sec-coonect-btn{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.footer-sec-coonect-btn p{
    background-image: none;
    background-color: #FCFFF9;
    color: #002132;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 50px;
    padding: 20px 30px;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 8;
}
.footer-sec-coonect-btn div{
    background-image: none;
    background-color: #FCFFF9;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 7;
    animation: gradient-animation-out 0.5s;
    right: 36%;
}
.footer-sec-coonect-btn.animate div{
    animation: gradient-animation-in 0.5s;
}
.footer-sec-coonect-btn.animate div{
    right: 0%;
}
.footer-sec-coonect-btn-dark-style{
    position: absolute;
    z-index: 5;
    right: 68px;
    display: none;
}
.footer-logo{
    display: block;
    margin: 0 auto;
    padding-bottom: 2rem;
}
.footer-nav-bottom-sec p{
    color: #FCFFF9D9;
    font-size: 18px;
    line-height: 24px;
}
.footer-nav-bottom-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid #FCFFF9D9;
    padding: 2rem 0 3rem 0;
}
.footer-nav-page-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-nav-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-nav-page-section p{
    cursor: pointer;
}
.footer-nav-page-section p::after{
    content: "";
    display: block;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FCFFF9D9;
    margin: 0 auto;
    transition: 0.2s ease;
}
.footer-nav-page-section p:hover::after{
    width: 100%;
    transition: 0.2s ease;
}
.footer-nav-social-media img{
    cursor: pointer;
    transition: 0.2s ease;
}
.footer-nav-social-media img:hover{
    transform: translateY(-7px);
    transition: 0.2s ease;
}

@media screen and (max-width:1280px) {
    .footer-nav-social-media{
        gap: 1rem;
    }
    .footer-nav-page-section{
        gap: 1rem;
    }
}
@media screen and (max-width:1080px){
    .footer-nav-bottom-sec{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .footer-section{
        padding-top: 13rem;
    }
    .footer-sec-cnt-div .footer-sec-cnt-txt{
        font-size: 24px;
        line-height: 41px;
    }
}
@media screen and (max-width:575px) {
    .footer-sec-cnt-div {
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-sec-coonect-btn p{
        font-size: 18px;
    }
    .footer-nav-bottom-sec p{
        text-align: center;
    }
    .footer-nav-page-section{
        flex-wrap: wrap;
    }
    .footer-sec-coonect-btn p{
        padding: 15px 22px;
    }
    .footer-sec-coonect-btn div{
        width: 53px !important;
        height: 53px !important;
    }
    .footer-sec-coonect-btn.animate div{
        right: 1%;
        padding: 0;
    }
    .footer-sec-coonect-btn-dark-style{
        right: 53px;
    }
    .footer-sec-coonect-btn.animate div{
        right: 1%;
    }
    @keyframes gradient-animation-in{
        0%{
            right: 36%;
        }
        100%{
            right: 1px;
        }
    }
}


